body{
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

h1{
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 700;
}
.header{
  color: tomato;
}

h3{
  font-size: 30px;
  text-transform: capitalize;
}

section{
  display: flex;
  margin-bottom: 200px;
}

.first-half {
  width: 50%;
  padding-left: 50px;
}

.first-half img{
  width: 100%;
}

.anchor{
  text-decoration: none;
  padding: 6px 50px;
  border-radius: 10px;
  background-image: linear-gradient(tomato,orange);
  color: white;
  font-weight: 500;
}

.banner{
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;

}

.para-sec{
  padding-right: 80px;
}